@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  background-color: #fff;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
 
}

:root {
  --color-bg: #FDF7ED;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
label {
  font-family: 'Montserrat', sans-serif;
}
input {

}
input:focus {
  outline: none;
}
select {

}
select:focus {
  outline: none;
}
th {
  color: #818cf8;
}
input:focus {
  outline-color: none; 
}

.layout {
  display: flex;
  position: relative;
  background-color: #FFFF;
  gap: 2rem;
}

.layout__main-content {
  flex-grow: 1;
}

#porcinos {
  flex-grow: 1;
  background-color: #F0F0F0;
  height: 100%;
}
.sidebar__wrapper {
  position: relative;
}
.background-cover {
  background-color: rgba(13, 61, 100, 0.57);
}
.index-cover {
  height: 300px;
}
.cover-text {
  background-color: rgba(13, 61, 100);
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: #2C2C2C;
  padding: 2rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
  overflow: hidden;
}

.side ::-webkit-scrollbar {
  display: none;
}
.side {
  overflow: auto;
  max-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
#inner {
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-right: 15px;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2C2C2C;
  font-size: 0.875rem;
  color: #ffffff;
  padding: 1rem;
}

.navbar-porcinos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2C2C2C;
  font-size: 0.875rem;
  color: #ffffff;
  padding-top: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navigation {
  display: contents;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  width: 100%;
}
.navigation a.active {
  text-decoration: underline;
  color: #ECA10C;
}
.searchbar {
  display: flex;
  width: 90%;
  min-width: 0;
  margin-right: 1.25rem;
  background-color: #F2F2F2;
  border-radius: 9999px;
}
.search-input {
  height: 2rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: #ADADAD;
  background-color: transparent;
  border: none;
  outline: none;
}

.selector {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  width: 100%;
}
.selector-btn {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 0.375rem;
  border-radius: 9999px;
  background-color: #ffffff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  color: #000;
}

.selector-btn:hover {
  background-color: #f9fafb;
}
.menu {
  position: absolute;
  right: 0;
  z-index: 10;
  margin-top: 0.5rem;
  width: 14rem;
  transform-origin: top right;
  border-radius: 0.375rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  border: 1px solid #000000;
  border-color: rgba(0, 0, 0, 0.05);
  outline: none
}
.arrow {
  margin-right: -0.25rem;
  height: 1.25rem;
  width: 1.25rem;
  color: #9CA3AF;
}
.item {
  color: #4a5568;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
}
.searchbar-icon {
  margin-left: 15px;
}

.herramientas {
  padding-top: 10%;
}
.herramientas-title {
  padding-left: 13%;
  padding-bottom: 2%;
}
.herramientas-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: Bold 700;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.herramientas-title h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.wrapper {
  width: 100%;
  padding: 0px 70px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.dashboard-nav {
  background-color: #a78bfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}
#transporte {
  background-color: #C1BD06;
}
#medicamento {
  background-color: #54c2ea;
}
#materias {
  background-color: #ffcd06;
}
#aduana {
  background-color: #d459db;
}
#alertas {
  background-color: #E47F13;
}
.dashboard-nav h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.dashboard-nav p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.dashboard-nav select {
  width: 219px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 10px;
  border-color: transparent;
}
.dashboard-section {
  display: flex;
  margin-left: 50px;
}
.dashboard-filtro {
  display: flex;
  margin-right: 50px;
}
.dashboard-filtro label {
  padding-right: 10px;
}


/*Chat constanza*/
.chat-window {
  position: fixed;
  top: 93%;
  bottom: 0px;
  right: 5px;
  width: 440px;
  height: 532px;
  background-color: #2C2C2C;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.3s;
  overflow: hidden;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: transform 0.3s ease;
}


.chat-window.closed {
  transform: translateY(-90%);
}
.chat-header {
  background-color: #151515;
  display: flex;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.chat-content {
  display: flexbox;
  flex-direction: column;
  height: 350px;
  padding: 10px;
}
.constanza_gif img{
  margin-right: 10%;
}
.avatar_message{
  width: 1000px;
  height: 80px;
}
.avatar img{
  margin-top: 15%;
}
.message{
  margin-left: 2%;
  width: 376px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--neutro-casi-blanco, #F8F8F8);
}
.message span{
  text-align: center;
  margin-top: 3%;
  margin-right: 10%;
  position: absolute;
  color: #2C2C2C;
  font-size: 14px;
  line-height: 20px;
  z-index: 0;
}
.message::after {
  content: '';
  position: absolute;
  margin-top: 10%;
  margin-right: 50%;
  background: transparent;
  width: 0px; height: 0px;
  border-bottom: 40px solid #F8F8F8;
  border-right: 0px solid transparent;
  border-left: 40px solid transparent;
  transform: rotate(180deg);
  z-index: -1;
  }
.avatar{
 /* background-color: #ff7979;*/
  height: 350px;
  width: 120px;
}
.form{
  display: flexbox;
  flex-direction: column;
}
.form1{
  display: flex;
}
.form_inputs{
  margin-top: 10%;
  margin-left: 5%;
}
.form_inputs_1{
  display: flexbox;
  flex-direction: column;
}
.form_inputs_2{
  margin-top: 2%;
  display: flex;
}
.form_inputs_2 input{
  width: 108px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  text-align: center;
}
.form_inputs_2 #valor1{
  width: 108px;
  height: 30px;
}
.form_inputs_2 #valor2{
  width: 158px;
  height: 30px;
}
.form_inputs_3{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}
.form_inputs_3 input{
  width: 184px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  text-align: center;
}
.form_inputs_4{
  display: flex;
  flex-direction: column;
}
.form_inputs_1 span{
  font-size: 14px;
}
.form_inputs_2 span{
  font-size: 12px;
}
.form_inputs_3 span{
  font-size: 12px;
}
.form_inputs_4 span{
  margin-top: 2%;
  font-size: 11px;
}
.form_inputs_4 input{
  margin-top: 5%;
  margin-left: 25%;
  font-size: 11px;
  width: 108px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  text-align: center;
}
.form_inputs button{
  font-size: 12px;
  background-color: #eeaa27;
  width: 184px;
  height: 49px;
  border-radius: 18px;
  margin-left: 20%;
  margin-top: 5%;
}
#botonparar{
  background-color: #2C2C2C;
  margin-left: 30%;
  border-radius: 0px;
  color: #fff;
  width: 40%;
  height: 15%;
  margin-top: 0%;
}
/* chat constanza*/

.inner-search {
  background-color: #ccc;
  border-radius: 8px;
  width: max-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.inner-search-d {
  background-color: #1a1818;
  border-radius: 8px;
  width: max-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.inner-search-icon {
  width: 50px;
  justify-content: center;
  display: flex;
}
.inner-search input {
  height: 100%;
}
.inner-search-d input {
  background-color: #2C2C2C;
  height: 100%;
}
.entries-container {
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #EEECEC;
  text-align: center;
  padding: 5px;
}
.entries-container-d {
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #151515;
  text-align: center;
  padding: 5px;
}
.table {
  padding: 20px;
  background-color: #F7F9FB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.fake-table {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
}
.fake-table h2 {
  color: #818cf8;
  font-weight: bold;
}
.fake-table-d h2 {
  color: #818cf8;
  font-weight: bold;
}
.table-container {
  width: 100%;
  text-align: center;
  background-color: #F7F9FB;
}
.table-index {
  padding: 20px;
  background-color: #201F1C;
  width: 70vh;
  color: #BBBBBB;
  border-radius: 10px;
}
.table-d {
  padding: 20px;
  background-color: #151515;
  border: 1px solid #D4AF37;
  width: 100%;
}
.fake-table-d {
  padding: 20px;
  background-color: #151515;
  border: 1px solid #D4AF37;
  width: 100%;
  display: flex;
}
.table-container-d {
  width: 100%;
  text-align: center;
  background-color: #151515;
}
.table-index-d {
  padding: 20px;
  background-color: #2C2C2C;
  width: 70vh;
  border: .5px solid;
  border-radius: 10px;
}
.table-container-index {
  width: 100%;
  text-align: center;
  background-color: #201F1C;
}
.table-container-index th{
  color: #B1B1B1;
}
.table-container-index-d {
  width: 100%;
  text-align: center;
  background-color: #2C2C2C;
}
.table-cel-index {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.lightMode {
  background-color: #ffffff;
  color: black;
}

.darkMode {
  background-color: #2d2a2a;
  color: #fff;
}
.full-viewport {
  min-height: 100vh; /* Altura mínima del viewport */
}
.button {
  background-color: rgb(59 130 246);;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button:hover {
  padding: 12px;
}
.modal-title {
  font-size: 36px;
}
.modal-content {
  background-color: #fff;
  width: 70%;
  border-radius: 15px;
  max-height: 80%;
}
.modal-content-d {
  background-color: #2C2C2C;
  width: 70%;
  border-radius: 15px;
  max-height: 80%;
}

.modal-item {
  flex-basis: 50%;
}
.modal-label {
  font-weight: 600;
}
.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.modal-input-container {
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.25) ;
  overflow: hidden;
}

.modal-input-container-d {
  background-color: #151515;
  width: 70%;
  border: 1px solid #D4AF37;
  overflow: hidden;
}

.modal-input {
  border: none;
  outline: none;
  width: 100%;
}
.modal-input-d {
  background-color: #151515;
  border: none;
  outline: none;
}
.modal-cel {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.form-container {
  padding: 0px 0px 10px 50px;
}
.alert-error {
  padding: 10px;
  background-color: #ed2610;
  color: #fff;
  font-weight: 600;
}
.alert-success {
  padding: 10px;
  background-color: #3eb86f;
  color: #fff;
  font-weight: 600;
}
.row-contain{
  margin-top: 6%;
  width: 100%;
  height: 10%;
  background-color: #DD7230;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1vh;
  z-index: 10;
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.row-container {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  border-radius: var(--16, 16px);
  background: var(--primary-light, #F7F9FB);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 6vh;
  margin-right: 20px;
}
.row-container-a {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  border-radius: var(--16, 16px);
  background: rgba(13, 61, 100);
  color: #ffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 2vh;
  margin-right: 20px;
}
.row-user-d {
  justify-content: space-around;
  border-radius: 15px;
  display: flex;
  background: linear-gradient(200deg , #151515, #292928);
  padding: 6vh;
  border: 1px solid #D4AF37;
  height: 100%;
}
.row-user {
  display: flex;
  min-width: 200px;
  padding: var(--24, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--8, 8px);
  flex: 1 0 0;
  border-radius: var(--16, 16px);
  background: var(--primary-blue, #F7F9FB);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 100%;
}
.row-container-d {
  justify-content: space-around;
  flex-direction: column;
  border-radius: 15px;
  display: flex;
  background-color: #1a1818;
  border: 1px solid #D4AF37;
  padding: 6vh;
  color: white;
  margin-right: 20px;
}
.row-container h1 {
  font-size: 20px;
  font-weight: 600;
}
.row-container h2 {
  font-size: 15px;
  font-weight: 600;
}
.row-container-d h1 {
  font-size: 20px;
  font-weight: 600;
  color: #D4AF37;;
}
.row-container-d h2 {
  font-size: 15px;
  font-weight: 600;
}

.edit-btn {
  background-color: rgb(58, 219, 58);
  padding: 5px;
  justify-content: center;
  display: inline-flex;
}
.delete-btn {
  background-color: rgb(222, 80, 80);
  padding: 5px;
  justify-content: center;
  display: inline-flex;
}
.confirmation {
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.pronostico {
  margin-top: 40px;
}
.pronostico h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #818cf8;
}
.pronostico h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
}
.pronostico-container {
  width: 33%;
}
.pronostico-input {
  width: 80%;
  padding: 5px;
  background-color: #F4F4F4;
  border-radius: 10px;
}
.pronostico-input input {
  width: 100%;
  background-color: #fff;
}
.pronostico-input-d {
  width: 80%;
  padding: 5px;
  background-color: #151515;
  border-radius: 10px;
  border: 1px solid #D4AF37;
  outline: none;
}
.pronostico-input-d input {
  outline: none;
  width: 100%;
  background-color: #151515;
}
.pronostico-input input:focus {
  border-color: none;
  outline: none;
}
.pronostico-btn {
  margin-right: 10px;
  border: 1px solid #d7d1d1;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}
.edit-input-container {
  width: 80%;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2px
}
.edit-input-container-d {
  background-color: #151515;
  width: 80%;
  border: 1px solid #D4AF37;
  overflow: hidden;
  outline: none;
  border-radius: 5px;
  padding: 2px;
}
.cancel-btn {
  background-color: #d7d1d1;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pagination {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 30%;
}
.alert-message {
  background-color: #ed3131;
  color: white;
  padding: 2px;
}
.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

}

.pad-index {
  padding: 0px 90px;
}
.edit-modal {
  background-color: #fff;
}
.edit-modal-d {
  background-color: #1a1818;
}
.position {
  display: flex;
}
.typing-container h1 {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: typing 1s forwards;
}
.user-message {
  background-color: #F7F9FB;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.system-message {
  background-color: #A5B4FC;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.user-message{
  display: flex;
  background-color: rgba(20, 33, 61, 1);
  border-radius: 20px;
  justify-content: space-around;
}
.system-message{
  justify-content: space-around;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  background-color: rgba(193, 173, 98, 1);
}
/* Animación de escritura */
@keyframes typing {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 850px) {
  .responsive-container {
    width: 30%;
    height: auto;
  }
  .position {
    flex-direction: column;  
  }
  #div3d{
    display: flex;
    flex-direction: column;
  }
  #divperiodo{
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 50px;
    padding: 0px 15px;
  }
  .row-user {
    width: fit-content;
  }
  .row-container {
    justify-content: space-around;
    width: 100%;
    display: flow-root;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 6vh;
    margin-right: 0;
  }
  .row-container-a {
    justify-content: space-around;
    width: 100%;
    display: flow-root;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2vh;
    margin-right: 0;
  }
  .row-container-d {
    justify-content: space-around;
    width: 100%;
    display: flow-root;
    border-radius: 15px;
    background-color: #2C2C2C;    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 6vh;
    margin-right: 0;
  }
  .pad-index {
    padding: 0px 15px;
    padding-bottom: 50px;
  }
  .sidebar {
    width: 100%;
  }
  .table {
    overflow-x: auto; 
    white-space: nowrap;
    padding: 0;
    display: grid;
    justify-content: center; 
    background-color: #fff;
  }
  .table-d {
    overflow-x: auto; 
    white-space: nowrap;
    padding: 0;
    display: grid;
    justify-content: center; 
    background-color: #2C2C2C;
    border: 1px solid #D4AF37;
  }
  .fake-table {
    overflow-x: auto; 
    white-space: nowrap;
    padding: 0;
    display: grid;
    justify-content: center; 
    background-color: #fff;
  }
  .fake-table-d {
    overflow-x: auto; 
    white-space: nowrap;
    padding: 0;
    display: grid;
    justify-content: center; 
    background-color: #2C2C2C;
    border: 1px solid #D4AF37;
  }
  .table-container {
    max-width: 100%; 
    width: 100%; 
    min-width: 100%; 
    padding: 10px; 
    background-color: #fff;
    display: inline-block;
    transition: transform 0.3s ease; 
  }
  .table-container-d {
    max-width: 100%; 
    width: 100%; 
    min-width: 100%; 
    padding: 10px; 
    background-color: #2C2C2C;
    display: inline-block;
    transition: transform 0.3s ease; 
  }
  .table-index {
    background-color: #fff;
    overflow-x: auto; 
    white-space: nowrap;
    padding: 0;
    display: grid;
    justify-content: center; 
    border-radius: 10px;
    width: 100%;
  }
  .table-index-d {
    background-color: #2C2C2C;
    overflow-x: auto; 
    white-space: nowrap;
    width: fit-content;
    padding: 0;
    display: grid;
    justify-content: center; 
    border: .5px solid;
    width: 100%;
  }
  .table-container-index {
    max-width: 100%; 
    width: 100%; 
    min-width: 100%; 
    padding: 10px; 
    display: inline-block;
    transition: transform 0.3s ease; 
  }
  .table-container-index-d {
    background-color: #151515;
    width: fit-content; 
    min-width: 100%; 
    padding: 10px; 
    display: inline-block;
    transition: transform 0.3s ease; 
  }
  .pagination {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
  }
  .inner-search {
    height: fit-content;
    align-self: end;
    margin-right: 5%;
  }
  .modal-content {
    width: 90%;
  }
  .form-container {
    padding: 0;
  }
  .modal-input-container {
    background-color: #151515;
    width: 70%;
    border: 1px solid #D4AF37;
    overflow: hidden;
  }
  .modal-input-d {
    background-color: #151515;
    border: none;
    outline: none;
  }
  .modal-input-container-d {
    background-color: #151515;
    width: 70%;
    border: 1px solid #D4AF37;
    overflow: hidden;
  }
  .chat-window {
    width: 100%;
    height: 80%;
    right: 0;
  }
}